.App
  text-align: center

.App-header
  background: #7474BF
  /* fallback for old browsers*/
  background: -webkit-linear-gradient(to left, #348AC7, #7474BF)
  /* Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to left, #348AC7, #7474BF)
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
  min-height: 20vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white
  padding-bottom: 20px

.App-link
  color: #61dafb

.header-panel
  margin-top: 50px
  margin-bottom: 5px
  display: flex
  justify-content: space-between
  align-items: center

#titleHomeLink
  margin-top: 0
  margin-bottom: 0
  display: inline-block
  line-height: 145%
  color: #fff
  font-size: 2.28rem

.search-wrapper
  display: flex
  justify-content: center
  align-items: center
  margin-top: 40px
  margin-bottom: 20px
  input#search
    padding: 0 45px 0 0px
    color: #000
  i.material-icons
    position: absolute
    top: 12px
    right: -40px
    cursor: pointer

.search-box
  position: relative
  flex: 0 1 40%  
  margin-left: -40px

.EventsList
  margin-top: 20px
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  .card
    flex: 0 1 31%
    a
      margin-bottom: 15px

.filter-panel
  height: 100px

a#login
  margin-right: 10px

.event .card-content
  max-height: 300px
  overflow: auto

.card .card-image
  .event-img 
    position: relative
    height: 300px
    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      background: rgba(0,0,0,0.4)
  span 
    position: relative


// Filter Options
.filter_options
  padding: 15px 0

.advanced_filters_form  
  display: flex
  justify-content: center
  span 
    margin-right: 15px

select 
  display: block
  width: 50%
  margin: 0 auto

#locationSubmit
  margin-top: 10px

.event_container
  padding: 50px 50px 100px
  .card-title
    font-size: 2.28rem
    line-height: 110%
    font-weight: 400
  #bookmark_add
    color: #9e9e9e
    position: relative
    top: 4px
    margin-left: 40px
    cursor: pointer
    &:hover
      color: #b71c1c
  blockquote
    margin-bottom: 50px
  .stars_container
    display: flex
    justify-content: space-between
    width: 50%
    margin: 0 auto 20px
    i 
      cursor: pointer
  .post_star_btn
    margin-bottom: 60px
  .parking-title-btn
    display: inline-block
    vertical-align: top
    margin-bottom: 20px
  i.car-icon
    margin-top: 5px
    margin-left: 20px

  .comment_block
    margin-top: 75px
    textarea
      margin-top: 45px
      padding-left: 1rem
      padding-right: 1rem
      border: 1px solid #e0e0e0
      min-height: 12rem
    .comment_section
      .add_comment_btn
        text-align: left
        margin-bottom: 20px
      h5 
        text-align: left
        margin-top: 0
        margin-bottom: 40px
      .collection 
        border: none
        .collection-item
          padding-right: 0
          margin-bottom: 20px
          border: 1px solid #e0e0e0
        .collection-item.avatar
          padding-left: 0
          span 
            display: inline-block
            margin-top: 10px
            margin-bottom: 30px
            font-weight: bold
        .comment
          margin-top: 10px
          padding: 10px 0 10px

//  MEDIA QUERIES

@media screen and (max-width: 48em)
  .EventsList .card
    flex: 0 1 48%
  #titleHomeLink
    font-size: 25px
  .buttons-panel a
    height: 45px
    line-height: 45px

@media screen and (max-width: 35em)
  .EventsList
    .card
      flex: 0 1 70%
    justify-content: center
  .buttons-panel a
    height: 40px
    line-height: 40px
    font-size: 14px
    padding: 0 25px

@media screen and (max-width: 30em)
  .header-panel
    display: block
  .search-box
    flex: 0 1 55%
  .advanced_filters_form
    display: block
    text-align: left
    margin-left: calc(40% - 40px)